doctype html
html
  head
    title= title
    link(rel="shortcut icon", href="/images/account.png", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/fontawesome/css/fontawesome.min.css')
    link(rel='stylesheet', href='/fontawesome/css/brands.min.css')
    link(rel='stylesheet', href='/fontawesome/css/solid.min.css')
  body
    block content
    script(src='/vendor/jquery/jquery-3.4.1.min.js')
    script(src='/vendor/bootstrap/bootstrap.min.js')
    script(src='/fontawesome/js/fontawesome.min.js')
